@import '../../scss/index.scss';

.user{
    
    &__title{
        border-bottom: 1px solid $border-grey;
        padding: 15px;

        h2{
            font-size: 22px;
            margin-bottom: 0px;
            font-weight: bold;

            .placeholder-glow{
                margin: 0px !important;
            }

            .placeholder{
               min-height: 15px;
               border-radius: 10px;
            }


        }
    }

    &__tweets{

        margin-bottom: 5vh;

        h3{
            padding: 15px;
            font-size: 18px;
            border-bottom: 1px solid $border-grey;
            padding-left: 20px;
        }

        .no-tweets{
            display: block;
            text-align: center;
            padding-top: 5vh;
        }

        > .btn.btn-primary {
            display: flex;
            margin: 0 auto;
            margin-top: 10px;
            margin-bottom: 10px;
            background-color: transparent;
            border: 0;

            &:hover, &:focus{
                background-color: transparent !important;
                color: $primary;
            }


        }
    }


}