@import '../../scss/index.scss';

.error404{
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    img{
        width: 400px;
        padding: 5vh 0px;
        opacity: 0.6;
    }
}